:root {
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2efe5;
  color: #000;
  max-width: 1500px;
  margin: 0 auto; }

.social-item:hover {
  cursor: pointer;
  color: cornflowerblue; }

.header {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../dist/img/header_bg.png); }

.scroll-icon {
  padding-bottom: 5px;
  background: none;
  border: none;
  z-index: 1111; }
  .scroll-icon .scroll-arrow {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }
    .scroll-icon .scroll-arrow:hover {
      background-color: #A9A9A9; }

nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  nav .menu {
    display: flex;
    justify-content: center;
    align-items: center; }
  nav a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0;
    margin: 0 30px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0); }
  nav a:hover {
    border-bottom: 2px solid black; }

nav a.active {
  border-bottom: 2px solid black; }

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column; }
  nav .logo {
    order: 1; }
  nav .menu-first {
    order: 2;
    padding: 20px; }
  nav .menu-second {
    order: 3;
    padding: 20px; } }

@media screen and (max-width: 380px) {
  nav {
    flex-direction: column; }
  nav a {
    margin: 0 20px; }
  nav .logo {
    order: 1; }
  nav .menu-first {
    order: 2;
    padding: 20px 0; }
  nav .menu-second {
    order: 3;
    padding: 20px 0; } }

.about {
  display: flex;
  flex-direction: column; }

.about_top {
  display: flex;
  flex-direction: row; }

.about_content {
  height: 500px; }

.about_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../dist/img/about.png); }
  .about_left:hover {
    cursor: pointer;
    transition: 0.9s; }

.about_head {
  width: 300px;
  height: 100px;
  text-transform: uppercase;
  border: 10px solid #000; }
  .about_head:hover {
    border: 10px double #000; }
  .about_head h2 {
    text-align: center;
    font-size: 2em;
    margin: 22px 0; }

.about_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .about_right .about_right-block {
    max-width: 550px; }
  .about_right .about_icon, .about_right .about_text {
    text-align: center; }

.about_bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.first_row {
  display: flex;
  flex-direction: row; }

.second_row {
  display: flex;
  flex-direction: row; }

.about_photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 225px; }
  .about_photo:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.9s; }

.about_photo {
  height: 250px; }

@media screen and (max-width: 768px) {
  .about_bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .first_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .second_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; } }

@media screen and (max-width: 500px) {
  .about_bottom {
    display: flex;
    flex-wrap: wrap; }
  .first_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .second_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; } }

@media screen and (max-width: 425px) {
  .about_top {
    display: flex;
    flex-direction: column; }
  .about_left {
    width: 100%; }
  .about_right {
    width: 100%; } }

@media screen and (max-width: 375px) {
  .about_top {
    display: flex;
    flex-direction: column; }
  .about_left {
    width: 100%; }
  .about_right {
    width: 100%; } }

.content {
  position: relative;
  max-width: 50%;
  overflow: hidden; }

.content-overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.content:hover .content-overlay {
  opacity: 0.5; }

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1; }

.content-details link {
  color: #000;
  font-size: 0.8em; }

.link:hover {
  color: cornflowerblue; }

.link_top {
  display: flex;
  justify-content: center; }

.link_bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.fadeIn-bottom {
  top: 80%; }

@media screen and (min-width: 900px) {
  .content {
    width: 33.33333%; } }

@media screen and (max-width: 640px) {
  .content {
    display: block;
    width: 100%; } }

.testimonial {
  width: 100%;
  height: 350px; }
  .testimonial .right-quotation-mark {
    display: flex;
    align-items: flex-end; }
  .testimonial .slider {
    width: 100%;
    margin: 0 auto; }
    .testimonial .slider .slick-next {
      right: 20px; }
    .testimonial .slider .slick-prev {
      left: 20px;
      z-index: 1; }
    .testimonial .slider .testimonial_content {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .testimonial .slider .testimonial_content .testimonial__text {
        display: flex;
        justify-content: center;
        align-items: stretch; }
        .testimonial .slider .testimonial_content .testimonial__text .testimonial_quote {
          text-align: center;
          color: #f2efe5;
          font-family: "Times New Roman PS - Bold Italic MT";
          font-size: 24px;
          font-weight: 400;
          font-style: italic; }
      .testimonial .slider .testimonial_content .testimonial_author {
        display: flex;
        justify-content: flex-end;
        margin: 25px;
        padding: 0 60px;
        font-style: italic;
        color: #f2efe5;
        font-family: "Times New Roman PS - Italic MT";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right; }
      .testimonial .slider .testimonial_content .testimonial_author-text {
        font-size: 14px;
        text-transform: uppercase;
        color: #f2efe5;
        text-align: right;
        margin: 20px;
        padding: 0 60px; }
    .testimonial .slider .slide1 {
      background-image: url(../dist/img/testimonial.png); }
    .testimonial .slider .slide2 {
      background-image: url(../dist/img/test2.jpg); }
    .testimonial .slider .slide3 {
      background-image: url(../dist/img/testimonial3.jpg); }

.team {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); }

.team-item {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.team-item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../dist/img/team_head.png); }

.team-head {
  width: 300px;
  height: 100px;
  text-transform: uppercase;
  border: 10px solid #000; }
  .team-head:hover {
    border: 10px double #000; }
  .team-head h2 {
    text-align: center;
    font-size: 2em;
    margin: 22px 0; }

.team-item-2 {
  background-image: url(../dist/img/team1.png);
  transition: 0.9s; }
  .team-item-2:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.9s; }

.team-item-3, .team-item-5, .team-item-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: #ccc8b6; }

.team-item-4 {
  background-image: url(../dist/img/team2.png);
  transition: 0.9s; }
  .team-item-4:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.9s; }

.about-team {
  max-width: 400px; }
  .about-team h2 {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase; }
  .about-team p {
    margin-bottom: 45px; }

.social {
  display: flex;
  justify-content: space-between;
  font-size: 36px; }

.team-item-6 {
  background-color: #f2efe5; }

.pointer {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 110px;
  left: -20px;
  transform: rotate(45deg);
  background-color: #ccc8b6; }

.subscribe p {
  margin: 0;
  text-transform: uppercase; }

.subscribe p.p-first {
  font-size: 14px;
  font-weight: bold; }

.subscribe p.p-second {
  font-size: 12px; }

input[type="email"] {
  padding: 16px 20px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  height: 40px;
  width: 300px;
  background-color: #f2efe5;
  border: 1px solid #000; }

input[type="button"] {
  margin-top: 20px;
  height: 40px;
  width: 300px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #9a977a; }
  input[type="button"]:hover {
    cursor: pointer;
    background-color: #645E28; }

.button {
  margin-top: 20px;
  height: 40px;
  width: 300px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #9a977a; }
  .button:hover {
    cursor: pointer;
    background-color: #645E28; }

@media screen and (max-width: 1000px) {
  .team {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); } }

@media screen and (max-width: 600px) {
  .team {
    grid-template-columns: repeat(1, minmax(250px, 1fr)); } }

.gallery {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr)); }

.gallery-head, .gallery-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.gallery-head {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #afac9c; }

.gallery-head-content {
  width: 300px;
  height: 100px;
  text-transform: uppercase;
  border: 10px solid #000; }
  .gallery-head-content:hover {
    border: 10px double #000; }
  .gallery-head-content h2 {
    text-align: center;
    font-size: 2em;
    margin: 22px 0; }

.gallery-item {
  height: 300px;
  transition: 0.9s; }
  .gallery-item:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.9s; }

.gallery-item-1 {
  background-image: url(../dist/img/gallery1.png); }

.gallery-item-2 {
  background-image: url(../dist/img/gallery2.png); }

.gallery-item-3 {
  background-image: url(../dist/img/gallery3.png); }

.gallery-item-4 {
  background-image: url(../dist/img/gallery4.png); }

.gallery-item-5 {
  background-image: url(../dist/img/gallery5.png); }

.gallery-item-6 {
  background-image: url(../dist/img/gallery6.png); }

.gallery-item-7 {
  background-image: url(../dist/img/gallery7.png); }

.gallery-item-8 {
  background-image: url(../dist/img/gallery8.png); }

.gallery-item-9 {
  background-image: url(../dist/img/gallery9.png); }

.gallery-item-10 {
  background-image: url(../dist/img/gallery10.png); }

.gallery-item-11 {
  background-image: url(../dist/img/gallery11.png); }

.gallery-item-12 {
  background-image: url(../dist/img/gallery12.png); }

.gallery-item-13 {
  background-image: url(../dist/img/gallery13.png); }

.gallery-item-14 {
  background-image: url(../dist/img/gallery14.png); }

.gallery-item-15 {
  background-image: url(../dist/img/gallery15.png); }

.gallery-item-16 {
  background-image: url(../dist/img/gallery16.png); }

.gallery-item-17 {
  background-image: url(../dist/img/gallery17.png); }

.gallery-item-18 {
  background-image: url(../dist/img/gallery18.png); }

@media screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, minmax(150px, 1fr)); } }

@media screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); } }

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); } }

@media screen and (max-width: 300px) {
  .gallery {
    grid-template-columns: repeat(1, minmax(150px, 1fr)); } }

@media screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, minmax(150px, 1fr)); } }

@media screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); } }

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); } }

@media screen and (max-width: 300px) {
  .gallery {
    grid-template-columns: repeat(1, minmax(150px, 1fr)); } }

.twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  color: #fff;
  background-image: url(../dist/img/twitter.png);
  transition: 0.9s; }
  .twitter:hover {
    cursor: pointer;
    filter: contrast(150%);
    transition: 0.5s; }

.twitter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.twitter-icon {
  font-size: 48px;
  margin: 20px; }

.twitter-content {
  font-size: 22px;
  font-style: italic;
  text-align: center; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, minmax(375px, 1fr));
  justify-items: center;
  align-items: center;
  height: 900px; }

.contact-us {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 585px;
  max-height: 565px; }

.contact-head {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 60px;
  width: 300px;
  height: 100px;
  text-transform: uppercase;
  border: 10px solid #000; }
  .contact-head:hover {
    border: 10px double #000; }
  .contact-head h2 {
    text-align: center;
    font-size: 2em;
    margin: 22px 0; }

.contact-text {
  grid-area: 2 / 1 / 3 / 3;
  margin-bottom: 60px; }
  .contact-text p {
    text-align: center;
    font-size: 18px; }

.email-message {
  display: grid;
  justify-items: center;
  align-items: center; }

.contact-info, .contact-hours {
  display: grid;
  align-items: start; }
  .contact-info p, .contact-hours p {
    margin: 0; }

.email-message input[type="text"] {
  padding: 16px 20px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  height: 60px;
  width: 470px;
  background-color: #f2efe5;
  border: 2px solid #000; }

.email-message input[type="email"], .email-message input[type="button"] {
  width: 470px;
  height: 60px; }

input[type="email"] {
  border: 2px solid #000; }

.email-message input[type="text"].big {
  height: 220px; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.contact-social {
  padding-bottom: 20px;
  justify-self: center;
  grid-area: 4 / 1 / 5 / 3;
  width: 395px;
  margin-top: 50px; }

@media screen and (max-width: 1000px) {
  .email-message input[type="email"],
  .email-message input[type="button"],
  .email-message input[type="text"] {
    width: 360px; } }

@media screen and (max-width: 750px) {
  .contact {
    grid-template-columns: repeat(1, minmax(375px, 1fr));
    height: 1200px; }
  .email-message input[type="email"],
  .email-message input[type="button"],
  .email-message input[type="text"] {
    width: 470px; } }

@media screen and (max-width: 500px) {
  .contact-us {
    grid-template-columns: 1fr;
    height: 1200px; }
  .contact-head {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 40px; }
  .contact-text {
    grid-area: 2 / 1 / 3 / 2; }
  .contact-social {
    grid-area: 5 / 1 / 6 / 2; }
  .contact-hours {
    margin-top: 10px; }
  .email-message input[type="email"],
  .email-message input[type="button"],
  .email-message input[type="text"] {
    width: 390px; } }

@media screen and (max-width: 400px) {
  .contact {
    grid-template-columns: repeat(1, minmax(300px, 1fr)); }
  .contact-social {
    width: 300px; }
  .email-message input[type="email"],
  .email-message input[type="button"],
  .email-message input[type="text"] {
    width: 260px; } }

@media screen and (max-width: 300px) {
  .contact {
    grid-template-columns: repeat(1, minmax(260px, 1fr)); }
  .contact-social {
    width: 200px;
    margin-top: 1px; }
  .contact-social,
  .email-message input[type="email"],
  .email-message input[type="button"],
  .email-message input[type="text"] {
    width: 200px; } }

.find #map {
  height: 600px;
  width: 100%; }

footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 500px;
  background-color: #aeaeae; }
  footer p {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 115px; }

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none; }

#back2Top:hover {
  background-color: #DDF;
  color: #000; }

@media screen and (max-width: 500px) {
  footer p {
    margin-top: 50px; } }
